body {
    font-family: 'Tahoma' !important;
}

.txt-center {
    text-align: center !important;
}

.relative {
    position: relative !important;
}

.margin-auto {
    margin-left: auto;
    margin-right: auto;
}

.mt-7 {
    margin-top: 7rem !important;
}

.w-35 {
    width: 35% !important;
}

.hidden {
    display: none !important;
}
